[submodule "kexploit"]
	path = kexploit
	url =  https://nanogamerhostps4ps5.github.io/PS4-GOLDHEN-XPLOIT/
[submodule "webkit-10.50"]
	path = webkit-10.50
	url =  https://nanogamerhostps4ps5.github.io/PS4-GOLDHEN-XPLOIT/
